<fieldset id="order_details_subscription" class="bg-light-gray padding-one-all" data-hook="" style="margin-bottom: 0px;">
              <div class="clear"></div>
              <h3 align="center" class="mobile-display-none">Más ventajas de tu plan</h3>

      <div id="table-wrapper" class="border-none">
        <div id="table-scroll" class="mobile-display-none">

               <ul class="benefits">

              <li>
                <strong>EL ENVIO GRATUITO ES SÓLO EL PRINCIPIO</strong><br/>
                <div class="text">
                  Viste tus prendas y marcas favoritas. Envio ida y vuelta gratuito. Limpieza incluida.
                </div>
              </li>
              <hr class="line">
              <li>
                <strong>HAZ UN PARÓN CUANDO QUIERAS</strong><br/>
                <div class="text">
                  Si necesitas un respiro, lo entendemos perfectamente. Accede a tu cuenta y pausa el plan. ¡Vuelve cuando estés preparado de nuevo!.
                </div>
              </li>
              <hr class="line">
              <li>
                <strong>¡SATISFACCIÓN GARANTIZADA!</strong></li><br/>
                <div class="text">
                  Queremos que formes parte de pislow, y estés completamente feliz. Cualquier asunto contacta con nosotros.
                </div>
              </li>
            </ul>
      </div>

       <div id="order_discount" class="bg-blue-degrated mobile-display-none">
            <i class="fa fa-info-circle"></i>NO TE QUEDES CON DUDAS, VISITA 
            <a href="https://pislow.zendesk.com/hc/es">NUESTRO CENTRO DE AYUDA</a>
       </div>

</fieldset>